[user]
	email = b.hartzer@arkoselabs.com
	name = Bernd Hartzer

[alias]
	co = checkout

	# List files on the current branch which have been changed from the target branch
	brdiff = !sh -c 'git diff --name-only "$1"' -

	# list last 10 most recently committed branches
	brls = ! git branch --sort=-committerdate | head -n 10

[diff]
	tool = vimdiff
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
