[user]
	email = berndhartzer@gmail.com
	name = Bernd Hartzer

[alias]
	# List files on the current branch which have been changed from the target branch
	brdiff = !sh -c 'git diff --name-only "$1"' -

	# list last 10 most recently committed branches
	brls = ! git branch --sort=-committerdate | head -n 10

[diff]
	tool = vimdiff
