[user]
	email = berndhartzer@gmail.com
	name = Bernd Hartzer

[alias]
	# List files on the current branch which have been changed from the target branch
	brdiff = !sh -c 'git diff --name-only "$1"' -
